#bridgedb-steps-container {
    gap: 24px;

    > section {
        flex: 1 1 0px;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
    }
}

.p-20px {
    padding: 20px;
}

.pb-6r {
    padding-bottom: 6rem !important;
}

.bridgedb-form-row {
    display: flex;
    gap: 50px;
}

#bridgedb-advanced-options {
    background-color: #F9FAFB;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    margin-top: 2rem;
    border-radius: 4px;
}

.btn-purple:hover {
    background-color: $purple-dark !important;
}

#bridgelines {
    white-space: nowrap;
    overflow-x: auto;
    font-family: monospace;
}

#bridgedb-captcha-container {
    width: max-content;
    margin: 0 auto;
}

#bridgedb-captcha-input {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#bridgedb-captcha-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
