<section>
  <div class="card">
    <div>
      <div class="mt-3 mx-3">
        <p>First, you need to <a href="https://www.torproject.org/download/">download Tor Browser</a>. Our Tor Browser User Manual explains how you can add your bridges to Tor Browser. If you are using Windows, Linux, or OS X, <a href="https://tb-manual.torproject.org/bridges/#entering-bridge-addresses">click here</a> to learn more. If you are using Android, <a href="https://tb-manual.torproject.org/mobile-tor/#circumvention">click here</a>.</p>
      </div>
    </div>
  </div>
</section>

{% include 'support.jinja2' %}
